<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>minecraft_bold_italic.ttf</string>
		<string>minecraft_bold.ttf</string>
		<string>minecraft_italic.ttf</string>
		<string>minecraft_regular.ttf</string>
	</array>
</dict>
</plist>
